<!--ViewBlogPostPage-->
<% var header = '../headersignout'; %>
<%- include(header) %>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
     
                      
        <div class="jumbotron">
            <div class="blogpost">
                <a href='/blogs/edit/<%- blog["id"] %>' class="btn btn-sm active float-right" id="bluebtn" role="button" aria-pressed="true">Edit Blog</a>
                <h2 class="title"><%- blog["title"] %></h2>
                <b>By:<%- blog["user_id"] %> </b> <hr>
                <sm><%- blog["date_time"] %> &nbsp |<%- blog["location"] %></sm> <hr>
                <p class="blogcontent"><%- blog["text"] %></p>
            </div>
        </div>
        
        <div class="jumbotron mt-2">
                <h5 class="header"> COMMENTS:</h5>
                <% colorScheme="bg-secondary text-white" %>
                <% for (comment in comments){ %>
                    <% currComment=comments[comment] %>
                <div class="commentlist">
                <div class='p-3 mb-2 <%- colorScheme %>'>
                    <div class="row mt-2">
                            <div class="col-sm-12"> <hr>
                                <b class="">User: <%- currComment["user_id"] %></b>
                                
                                <sm class="float-right"><%- currComment["date_time"] %></sm>
                                <hr>
                            </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <p class="pl-5"> <%- currComment["text"] %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% if(colorScheme=="bg-secondary text-white"){ %>
            <%  colorScheme="bg-light text-dark"; %>
            <% }else{ %>
                <%  colorScheme="bg-secondary text-white";%>
                <%  }  %>

                <%      }  %>
                <% if(typeof message != 'undefined'){ %>
                    <div class="alert alert-success alert-dismissible mt-4" id="success">
                            <a href="#success" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><%= message %></strong> 
                    </div>
                <% } %>
            
                
            <div class="commentbox">
                    <h5 class="header">Add a comment:</h5>
                <form action='/comments/add/<%= blog["id"]  %>' method="post" name="addComment" id="addComment" class="mt-4">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Your Name: <%= curruser %></label>
                            <small id="emailHelp" class="form-text text-muted">Can't be changed..</small>
                        </div>
                        <div class="form-group">
                            <textarea type="text" rows="5"class="form-control" id="text" name="text" placeholder="Enter Comment" required></textarea>    
                        </div>
                        <div class="form-group">
                                <label for="exampleInputPassword1">Current Time</label>
                                <input class="form-control" type="datetime" name="date" id="date" readonly>
                        </div>
                        <div class="col-md-12 text-center ">
                        <button type="submit" class="btn btn-block mybtn tx-tfm" id="bluebtn">Add Comment</button>
                        </div>
                </form>
            </div>
        </div>
</div>
</div>
</div>

<script src="/javascripts/metaEditBlog.js"></script>
<% var footer = '../footer'; %>
<%- include(footer) %>