<% var header = '../header'; %>
<%- include(header) %>
        
<div class="container-fluid mt-3">
    <div class="jumbotron">
            <header>
                    <div class="page-header">
                        <div class="row mt-6">
                            <div class="col-sm-6">
                            <h1>View Blog:</h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <a href='/blogs/edit/<%- blog["id"] %>' class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Edit Blog</a>
                        </div>
                    </div>
            </header>
    <div class="row mt-2">
        <div class="col-sm-6">
            <p><%- blog["title"] %></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12">
            <p><%- blog["text"] %></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-2">
            <h4>Author: </h4>
        </div>
        <div class="col-sm-6">
            <p><%- blog["user_id"] %></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            <h4>Location: </h4>
        </div>
        <div class="col-sm-6">
            <p><%- blog["location"] %></p>
        </div>
    </div>
    </div>
</div>

<% var footer = '../footer'; %>
<%- include(footer) %>